.sidepanel {
  position: absolute;
  height: 100vh;
  background-color: #01848f;
  width: 20%;
  min-width: 100px;
  margin-left: 0;
  z-index: 2;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #f1f1f2;
  font-family: Helvetica;
  text-align: center;
  box-shadow: 5px 0px 8px grey;
}

/* .sidepanel span {
  position: relative;
  display: block;
  width: calc(100% - 2em);
  min-width: 100px;
  padding: 1em;
  background-color: #01848f;
} */

.sidepanel #avgWeatherSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#avgDegrees {
  font-size: 1.8em;
}

.temperature {
  position: relative;
}

#avgWeatherSection span.celcius {
  font-size: 1em;
}

.temperature span.celcius {
  font-size: 0.7em;
  vertical-align: top;
  top: -0.4em;
  position: inherit;
}

.sidepanel > #avgWeatherSection > img {
  max-width: 3em;
  max-height: 3em;
}

ul#weatherDistricts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 0;
  padding: 0 8px;
  list-style: none;
}
ul#weatherDistricts > li {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.9vw;
}
ul#weatherDistricts > li > img.weatherIcon {
  max-width: 2em;
  max-height: 2em;
}

ul#weatherDistricts > li > span.stedNavn {
  /* font-size: 0.8em; */
  color: #f1f1f2;
}
