
.sidepanel {
    position:absolute;
    height:100vh;
    background-color:#01848f;
    width:20%;
    min-width:100px;
    margin-left:0;
    z-index:2;
    font-size:1.5em;
    line-height:1.5em;
    color:#f1f1f2;
    font-family:Helvetica;
    text-align:center;
    box-shadow: 5px 0px 8px grey;
    
  }


  .sidepanel span {
    position:relative;
    display:block;
    width:calc(100% - 2em);
    min-width:100px;  
    padding:1em;
    background-color:#01848f;
  }


